<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <!-- An absolute path starts with a forward slash for 
            the root directory. This is the root folder of the web server, 
            which is the public directory.
            Hence the notation /css/ ...
        
            The same applies to the path to the client-side Javascript 
            file:
            // Move this line to the end of the body element to 
            // make sure the form element can be accessed by the 
            // script:
        <script src="/js/app.js"></script>
        -->
    </head>
    <body>
        <!-- The title prop of the object we passed into res.render() in 
        src/app.js -->
        <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather.</p>
        <p>Click <b>Get Weather</b> to show the weather at your current location, or type in the location you're
            looking for and click <b>Search</b>.
        </p>
        <form>
            <p>The weather at your current location:</p>
            <button id="get-location">Get Weather</button>
            <p>The weather elsewhere on the earth:</p>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>